<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body>
	<!--  BARRA DE NAVEGACAO  -->

	<head th:replace="fragments/header :: header"></head>

	<!--  CONTEUDO DA PAGINA  -->
	<main class="container">
		<a class="btn btn-primary active mb-3" role="button" th:href="@{/filmes/new}">
			<i class="bi bi-plus-square"></i>
			Filme
		</a>

		<div class="bg-light p-5 rounded">

			<div class="row">
				<form action="" method="POST">
					<div class="mb-2">
						<label class="form-label" for="category">Filtrar por categoria:
							<span>Categoria Nome</span></label>
					</div>
					<div class="mb-2">
						<select class="form-select" name='category'>
						  	<option th:each="cat: ${categories}" th:value"${cat}" th:text="${cat}"/>
						</select>
					</div>
					<div class="mb-4">
						<button class="btn btn-success" type="submit">find</button>
					</div>
				</form>
			</div>

			<div class="row">

				<h2>Filmes + Séries disponíveis</h2>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Nome</th>
							<th>Score</th>
							<th>Categoria</th>
							<th>Lançamento</th>					
							<th>Delete</th>
							<th>Edit</th>
						</tr>
					</thead>
					<tbody>
						<!-- usando o thymeleaf para iterar na lista de filmes -->
						<tr th:each="movie: ${listMovies}">
							<td th:text="${movie.id}" />
							<td th:text="${movie.title}" />
							<td th:text="${movie.score}" />
							<td th:text="${movie.category}" />
							<td th:text="${movie.release}" />
							<td><a th:href="@{/filmes/delete/{id}(id=${movie.id})}">
									<i class="bi bi-dash-circle" title="delete"></i>
								</a></td>
							<td><a th:href="@{/filmes/edit/{id}(id=${movie.id})}">
									<i class="bi bi-pencil-square" title="edit"></i>
								</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</main>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>